/**
 * @name Dark Uchiha Theme
 * @author Eitam
 * @version 1.0.0
 * @description Le thème montre plusieurs membres du clan Uchiha en noir et blanc, avec leurs Sharingans rouges qui brillent. Au centre, l'emblème Uchiha est en rouge et blanc. Les personnages, dont Sasuke, Itachi, et Madara, sont disposés autour de l'emblème, créant une atmosphère sombre et intense, caractéristique de ce clan légendaire.
 * @authorId 1258690529403600937
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.05;
    --messagetransparency: 0.5;
    --guildchanneltransparency: 0.2;
    --memberlistransparency: 0;
    --accentcolor: 140,0,0;
    --background: url("https://i.imgur.com/q19pHDT.jpeg");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}